.startButton {
    background-image: linear-gradient(to bottom right, #4A618B, #7ABFDB, #CCF4FE);
    padding: 2vh;
    border-radius: 4vh;
    transition: all,0.5s;
    font-size: 2vh;
    margin:2vw;
    color:darkblue;
}

.startButton:hover{
    box-shadow: 0 0 20px grey;
}

.childrenContainer{
    width:20vw;
}