/* .App {
  text-align: center;
  background-color: #15203D;
} */

h1 {
  margin: 0 auto;
  padding: 5vh 0;
  color: #4A618B;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 4vh;
}

body, #root, .App {
  position: absolute;
  margin: 0px;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #15203D;
}

.container {
  max-height: 100vh;
}

#titleDiv {
  display: flex;
  align-items: center;
  display: inline-block;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #91D8DF;
}
