/* .App {
  text-align: center;
  background-color: #15203D;
} */

.App {
  position: relativse;
  margin: 0px;
  width: 100%;
  text-align: center;
}

body {
  background-color: #14213D;
}

h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 3vw;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 4vw;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 4vw;
}

header {
  box-shadow: inset 0 -10px 10px -10px white;
  background-color: black;
  height: 5rem;
}

#headerText {
  font-weight: bolder;
  color: #4A618B;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 3vh;
}

.NavLink>a>i {
  font-size: 1.8rem;
  color: white;
}