.buttonSprite {
    display: inline-block;
    background-image: url("./images/answer-unselected.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px 0;
    margin: 10px auto;
    resize: both;
    width: 100%;
    height: 100%;

}

.buttonSprite:hover {
    background-image: url("./images/green-button.png");
}

.buttonSprite:active {
    background-image: url("./images/answer-selected.png");
}