.buttonSprite {
    display: inline-block;
    background-image: url("./images/answer-unselected.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1.5vh 0;
    margin: 2.5vh auto;
    resize: both;
    width: 90%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    border-radius: 12px;
    transition: all, 0.3s;
}

.buttonSprite:hover {
    background-image: url("./images/green-button.png");
}

.buttonSprite.selected {
    box-shadow: 0 0 20px grey;
    background-image: url("./images/answer-selected.png");
}